p{
    font-weight: bold;
    font-size: 25px;
}

h1{
    text-decoration-line: underline;
}

.btn{
    display: flex;
    justify-content: end;

    button{
        width: 100px;
    }
}


.joke{
    display: block;
    width: 500px;
    word-wrap: break-word;
    padding: 20px;
}

@media (max-width: 830px){
    
    .joke{
        width: 300px;
    }
}