<div class="caixa">
    <div class="caixa-principal">

        <div class="caixa-dialogo">
            <div class="texto">
                <h5>{{ dados.value }}</h5>
            </div>
            
            <img class="img1" src="assets/images/Chatbox.png" alt="">
            <img class="img2" src="assets/images/Chatbox_up.png" alt="">
            <div class="btns">
                <button (click)="openModal()">Info</button>
                <button>New Joke</button>
            </div>
        </div>


        <div class="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/173.gif" alt="">
        </div>
        <div class="chao">
            <img src="assets/images/chao.png" alt="">
        </div>
    </div>
</div>
